{% extends 'layout.html' %}

{% block body %}
    <h1>Admin panel</h1>
    {% for user in users %}
        <div class="container-fluid mb-1">
            <div class="row border bg-light p-3">
                <div class="col-3 d-flex align-items-center">
                    <b>{{ user.username }}</b>
                </div>
                <div class="col-auto">
                    {% if user.username != 'Oliveman' %}
                        <form action="{% url 'fire' id=user.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Fire</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if not user.approved %}
                        <form action="{% url 'approve' id=user.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}
